@font-face {
  font-family: 'PongFont';
  src: url('INVASION2000.TTF');
}

html, body {
  height: 100%;
}

.heading-container {
  height: 10%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'PongFont';
  font-size: 5em;
}

body {
  margin: 0;
}

.canvas-container {
  height: 80%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}